.containter {
    display:flex;
    background-color: #355c7d;

}
header {
    display: flex;
    background-color: #355c7d;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;


}
li {
    list-style-type: none;
    display: flex;

}

.title {
     background-color: #355c7d;
     margin-top: 0;

 }

.main-body {
    display:flex;
    background-color: #c06c84;
}

.quote {
    background-color: #6c5b7b;
}